{% extends 'base.html' %} {% block header %}
  <!-- Header Text -->
    <h1>
      Welcome to Project Info 
    </h1>
 
  <a href="/task/project/{{ project.project_id }}/taskboard">
    <button class="btn btn-danger btn-small">Taskboard View</button>
  </a>


{% endblock %} {% block content %}

<div class="form-container-info">
  <!-- Sidebar -->
  <div class="sidenav-info" id="mySidenav">
    <a href="javascript:void(0)" onclick="closeNav()">CLOSE</a>
    <a href="#">Teams</a>
    <a href="/project/list">Projects</a>
    <a href="#">Calendar</a>
    <a href="#">Settings</a>
  </div>

  <!-- Main Content -->
  <div class="box-info">
    <h3>Project Details:</h3>
    <p><strong>Project Name:</strong> {{ project.project_name }}</p>
    <p><strong>Project Description:</strong> {{ project.description }}</p>
    <p><strong>Status:</strong> {{ project.status }}</p>

    <div class="project-actions">
      <form method="get" style="display: inline">
        <button
          type="button"
          class="edit-button"
          title="Edit Project"
          onclick="openUpdateProjectModal('{{ project.project_id }}', '{{ project.project_name }}', '{{ project.description }}', '{{ project.status }}')"
        >
          <div class="edit-icon"></div>
        </button>
      </form>
      
      <a href="/project/list">
        <button
          type="button"
          class="delete-button"
          title="Delete Project"
          onclick="deleteProject('{{ project.project_id }}')"
          style="margin-left: 10px;"
        >
          <div class="delete-icon"></div>
        </button>
      </a>
  
      
    </div>

  </div>

  <!-- Modal for Updating a Project -->
  <div id="updateProjectModal" class="modal">
    <div class="modal-content">
      <span class="close" onclick="closeUpdateProjectModal()">&times;</span>
      <h3>Update Project</h3>
      <form action="/project/update_project" method="POST" id="updateProjectForm">
        <!-- Hidden Field to hold the Project ID -->
        <input type="hidden" name="project_id" id="update_project_id" />

        <!-- Project Name Field -->
        <div class="form-field">
          <label for="update_project_name">Project Name:</label>
          <input
            type="text"
            id="update_project_name"
            name="project_name"
            class="input-field"
            required
          />
        </div>

        <!-- Project Description Field -->
        <div class="form-field">
          <label for="update_description">Description:</label>
          <textarea
            id="update_description"
            name="description"
            class="input-field"
            required
          ></textarea>
        </div>

        <!-- Project Status Field -->
        <div class="form-field">
          <label for="update_status">Status:</label>
          <select id="update_status" name="status" class="input-field">
            <option value="NOT STARTED">Not Started</option>
            <option value="IN PROGRESS">In Progress</option>
            <option value="COMPLETED">Completed</option>
          </select>
        </div>

        <!-- Submit Button -->
        <div class="form-field">
          <input
            type="submit"
            class="btn btn-small btn-rounded"
            value="Update Project"
          />
        </div>
      </form>
    </div>
  </div>
  <!-- Closes "updateProjectModal" -->

  <div class="flex-container-info">
    <!-- Team Members -->
    <div class="box-info">
      <h3><strong> Team: </strong>{{ project.team_name }}</h3>

      <ul class="assignee-list">
        {% for member in project.team_members %}
        <li class="assignee-item">
          <span class="assignee-name">{{ member.name }}</span>
          {% if member.user_id == project.project_owner_id %}
          <span class="role-tag owner">Owner</span>
          {% else %}
          <span class="role-tag member">Member</span>

          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>

    <!-- Tasks -->
    <div class="box-info">
      <h3>
        Tasks
        <button
          onclick="openModal('createTaskModal')"
          class="btn btn-small btn-rounded"
        >
          +
        </button>
      </h3>

      <ul>
        {% for task in project.tasks %}
        <li>
          {{ task.task_name }} - Deadline: {{ task.deadline }}
          <div class="task-actions">
            <form method="get" style="display: inline">
              <button
                type="button"
                class="edit-button"
                title="Edit Project"
                onclick="openUpdateTaskModal( '{{ task.task_id }}','{{ task.task_name }}', '{{ task.description }}',
                  '{{ task.deadline }}', '{{ task.priority }}', '{{ task.assignee_id }}','{{ project.status }}')"
              >
                <div class="edit-icon"></div>
              </button>
            </form>
            <form
              action="/task/delete/{{ task.task_id }}"
              method="post"
              style="display: inline"
              onsubmit="return confirm('Are you sure you want to delete this task?');"
            >
              <button type="submit" class="delete-button" title="Delete Task">
                <div class="delete-icon"></div>
              </button>
            </form>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>

    <!-- Edit Task Modal -->
    <div id="editTaskModal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="closeModal('editTaskModal')">&times;</span>
        <h3>Edit Task</h3>
        <form id="editTaskForm" action="/task/update/" method="POST">
          <input
            type="hidden"
            name="project_id"
            value="{{ project.project_id }}"
          />
          <input type="hidden" name="task_id" id="task_id" />

          <div class="form-field">
            <label for="edit_task_name">Task Name:</label>
            <input
              type="text"
              id="edit_task_name"
              name="task_name"
              class="input-field"
              required
            />
          </div>

          <div class="form-field">
            <label for="edit_description">Description:</label>
            <textarea
              id="edit_description"
              name="description"
              class="input-field"
              required
            ></textarea>
          </div>

          <div class="form-field">
            <label for="edit_deadline">Deadline:</label>
            <input
              type="date"
              id="edit_deadline"
              name="deadline"
              class="input-field"
              required
            />
          </div>

          <div class="form-field">
            <label for="edit_priority">Priority:</label>
            <select
              id="edit_priority"
              name="priority"
              class="input-field"
              required
            >
              <option value="1">Low</option>
              <option value="2">Medium</option>
              <option value="3">High</option>
            </select>
          </div>

          <div class="form-field">
            <label for="edit_status">Status:</label>
            <select id="edit_status" name="status" class="input-field" required>
              <option value="NOT STARTED">Not Started</option>
              <option value="IN PROGRESS">In Progress</option>
              <option value="COMPLETED">Completed</option>
            </select>
          </div>

          <div class="form-field">
            <label for="edit_assignee">Assign To:</label>
            <select
              id="edit_assignee"
              name="assignee_id"
              class="input-field"
              required
            >
              {% for member in project.team_members %}
              <option value="{{ member.user_id }}">{{ member.name }}</option>
              {% endfor %}
            </select>
          </div>

          <button type="submit" class="btn btn-medium">Update Task</button>
        </form>
      </div>
    </div>

    <!-- Create Task Modal -->
    <div id="createTaskModal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="closeModal('createTaskModal')"
          >&times;</span
        >
        <h3>Create a New Task</h3>
        <form id="createTaskForm" action="/task/create" method="POST">
          <input
            type="hidden"
            name="project_id"
            value="{{ project.project_id }}"
          />
          <div class="form-field">
            <label for="task_name">Task Name:</label>
            <input
              type="text"
              id="task_name"
              name="task_name"
              class="input-field"
              required
            />
          </div>
          <div class="form-field">
            <label for="description">Description:</label>
            <textarea
              id="description"
              name="description"
              class="input-field"
              required
            ></textarea>
          </div>
          <div class="form-field">
            <label for="deadline">Deadline:</label>
            <input
              type="date"
              id="deadline"
              name="deadline"
              class="input-field"
              required
            />
          </div>
          <div class="form-field">
            <label for="priority">Priority:</label>
            <select id="priority" name="priority" class="input-field" required>
              <option value="1">Low</option>
              <option value="2">Medium</option>
              <option value="3">High</option>
            </select>
          </div>
          <div class="form-field">
            <label for="status">Status:</label>
            <select id="status" name="status" class="input-field" required>
              <option value="NOT STARTED">Not Started</option>
              <option value="IN PROGRESS">In Progress</option>
              <option value="COMPLETED">Completed</option>
            </select>
          </div>
          <div class="form-field">
            <label for="assignee_id">Assign To:</label>
            <select
              id="assignee_id"
              name="assignee_id"
              class="input-field"
              required
            >
              {% for member in project.team_members %}
              <option value="{{ member.user_id }}">{{ member.name }}</option>
              {% endfor %}
            </select>
          </div>
          <button type="submit" class="btn btn-medium">Create Task</button>
        </form>
      </div>
    </div>

    <script>
      function deleteProject(projectID) {
        if (confirm("Are you sure you want to delete this project?")) {
          fetch("/project/delete_project", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({ project_id: projectID }),
          })
            .then((response) => {
              if (!response.ok) {
                throw new Error(`HTTP error! status: ${response.status}`);
              }
              return response.json();
            })
            .then((data) => {
              alert(data.message || data.error);
              if (data.message) {
                // Introduce a delay of 0.1 seconds before redirecting
                setTimeout(() => {
                  window.location.href = "/project/list";
                }, 100);
              }
            })
            .catch((error) => {
              console.error("Error deleting project:", error);
              alert("An error occurred while deleting the project.");
            });
        }
      }

      function openModal() {
        document.getElementById("addMemberModal").style.display = "block";
      }
      function closeModal() {
        document.getElementById("addMemberModal").style.display = "none";
      }

      function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
      }

      function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
      }

      function openModal(modalId) {
        document.getElementById(modalId).style.display = "block";
      }

      function closeModal(modalId) {
        document.getElementById(modalId).style.display = "none";
      }

      // Function to open the Update Task Modal and set its fields
      function openUpdateTaskModal(
        task_id,
        taskName,
        taskDescription,
        taskDeadline,
        taskPriority,
        taskAssigneeId,
        taskStatus,
      ) {
        // Set the values of the fields in the modal
        document.getElementById("edit_task_name").value = taskName;
        document.getElementById("edit_description").value = taskDescription;
        document.getElementById("edit_deadline").value = taskDeadline;
        document.getElementById("edit_priority").value = taskPriority;
        document.getElementById("edit_assignee").value = taskAssigneeId;
        document.getElementById("edit_status").value = taskStatus;
        document.getElementById("task_id").value = task_id;

        // Open the modal
        document.getElementById("editTaskModal").style.display = "block";
      }

      // Function to close the Update Task Modal
      function closeUpdateTaskModal() {
        document.getElementById("editTaskModal").style.display = "none";
      }

      // Function to open the Update Project Modal and set its fields
      function openUpdateProjectModal(
        projectId,
        projectName,
        projectDescription,
        projectStatus,
      ) {
        // Set the values of the fields in the modal
        document.getElementById("update_project_id").value = projectId;
        document.getElementById("update_project_name").value = projectName;
        document.getElementById("update_description").value = projectDescription;
        document.getElementById("update_status").value = projectStatus;

        // Open the modal
        document.getElementById("updateProjectModal").style.display = "block";
      }

      // Function to close the Update Project Modal
      function closeUpdateProjectModal() {
        document.getElementById("updateProjectModal").style.display = "none";
      } 
    </script>
    {% endblock %}
  </div>
</div>
