{% extends 'base.html' %} {% block header %}
<div class="container-placeholder-info">
  <!-- Header Text -->
  <h1>My Projects</h1>
</div>
{% endblock %} {% block content %}
<div class="form-container-info">
  <!-- Sidebar -->
  <div class="sidenav-info" id="mySidenav">
    <a href="javascript:void(0)" onclick="closeNav()">CLOSE</a>
    <a href="/team/list">Teams</a>
    <a href="/project/list">Projects</a>
    <a href="/calendar">Calendar</a>
    <a href="#">Settings</a>
  </div>
  <div class="project-grid">
    {% if projects %} {% for project in projects %}
    <div>
      <a href="/project/get/{{ project.project_id }}">
        <div class="project-item">
          <h2 class="project-title">{{ project.project_name }}</h2>
          <p class="project-team">Team: {{ project.team_name }}</p>
          {% if project.status == "IN PROGRESS" %}
          <span class="project-status status-in-progress"
            >{{ project.status }}</span
          >
          {% elif project.status == "COMPLETED" %}
          <span class="project-status status-completed"
            >{{ project.status }}</span
          >
          {% elif project.status == "CANCELLED" %}
          <span class="project-status status-cancelled"
            >{{ project.status }}</span
          >
          {% else %}
          <span class="project-status status-not-started"
            >{{ project.status }}</span
          >
          {% endif %}
        </div>
      </a>
    </div>

    {% endfor %} {% else %}
    <!-- Display message if no projects exist -->
    <div class="no-projects-message">
      <h3>You don't have any projects yet!</h3>
      <p>Create a new project and get started.</p>
      <button
        class="btn btn-medium add-team-prompt"
        onclick="openProjectModal()"
      >
        Add a Project
      </button>
    </div>
    {% endif %}
  </div>

  <!-- Floating Add project Button -->
  <button class="add-project-button" onclick="openProjectModal()">+</button>
  <!-- Modal for Adding a New Project -->
  <div id="addProjectModal" class="modal">
    <div class="modal-content">
      <span class="close" onclick="closeProjectModal()">&times;</span>
      <h3>Create a New Project</h3>
      <form action="/project/create_project" method="POST" id="addProjectForm">
        <!-- Project Name Field -->
        <div class="form-field">
          <label for="project_name">Project Name:</label>
          <input
            type="text"
            id="project_name"
            name="project_name"
            class="input-field"
            required
          />
        </div>

        <!-- Project Description Field -->
        <div class="form-field">
          <label for="description">Description:</label>
          <textarea
            id="description"
            name="description"
            class="input-field"
            required
          ></textarea>
        </div>

        <!-- Project Status Field -->
        <div class="form-field">
          <label for="status">Status:</label>
          <select id="status" name="status" class="input-field">
            <option value="NOT STARTED">Not Started</option>
            <option value="IN PROGRESS">In Progress</option>
            <option value="COMPLETED">Completed</option>
          </select>
        </div>

        <div class="form-group">
          <label for="team_id" class="form-label">Assign to Team:</label>
          <select id="team_id" name="team_id" class="input-field" required>
            {% for team in teams %}
            <option value="{{ team.team_id }}">{{ team['team_name'] }}</option>
            {% endfor %}
          </select>
        </div>
        <!-- Submit Button -->
        <div class="form-field">
          <input
            type="submit"
            class="btn btn-small btn-rounded"
            value="Create Project"
          />
        </div>
      </form>
    </div>
  </div>

  <script>
    function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
    }

    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
    }
    // Function to open the Add Project Modal
    function openProjectModal() {
      document.getElementById("addProjectModal").style.display = "block";
    }

    // Function to close the Add Project Modal
    function closeProjectModal() {
      document.getElementById("addProjectModal").style.display = "none";
    }
  </script>
  {% endblock %}
</div>
